# parameter must be given in this order
rocket dry mass (kg)           m_dry  : 1_300
rocket fuel mass (kg)          m_fuel : 10_000
motor impulse (s) zero alt     Isp0   : 300
motor impulse (s) vacuum       Isp1   : 300
maximum thrust (N)             Fmax   : 600_000
rocket reference area (m^2)    A      : 2.8
initial velocity (m / s)       vel    : 1e-3
initial flight angle (radians) beta   : 0.005
initial altitude (m)           h      : 0
gravity at zero altitude       g0     : 9.81
radius at altitude zero        r0     : 6_000_000
drag coefficient (_)           cd     : 0.75
scale height (m)               H      : 8_500
density at zero altitude       rho    : 1.2230948554874
number of shooting intervals   N      : 300
altitude objective (m)         h_obj  : 200_000
velocity objective (m/s)       v_obj  : 7_000
beta objective (degrees)       q_obj  : 90
time interval (s)  1.1268             : 1.2
duration (s)                          : 400
speed min_max (m/s)                   : 0, 10_000
flight angle min max (degrees)        : 0, 100
altitude min max (m)                  : 0, 300_000
h_range min max (degrees)             : 0, 90
acceleration min max (m*s-2)          : -100, 170
control file (.xlsx)                  : mintoc_gravity_turn_10T.xlsx
